<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gecko Egg Tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Egg</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!-- Link to the CSS file -->
  </head>
  <body>
    <div class="navbar-container">
      <nav class="navbar">
        <a href="newGecko" class="link">New Gecko</a>
        <a href="newEgg" class="link">New Egg</a>
        <a href="newSale" class="link">New Sale</a>
        <p></p>
        <b>Next Lay Date:</b> {{ .NextLayDate }}<br />
        <br />
        <b>Next Hatch Date:</b> {{ .NextHatchDate }}<br />
        <br />
        <b>Total Sales:</b> {{ .TotalSales }}<br />
        <br />
      </nav>
    </div>
    <div class="table-container">
      <table>
        {{if len .Eggs}}
        <tr>
          {{range $index, $element := .Eggs}}
          <td
            class="egg-slot"
            data-details="
Eggs Entry ID: {{ $element.EggID }}
Lay Date: {{ $element.FormattedLayDate }} 
Hatch ETA: {{ $element.FormattedHatchDateETA }}
"
          >
            <span class="label"
              >Gecko {{ $element.GeckoID }} ({{ $element.Count }} eggs)
            </span>
          </td>
          {{if eq (mod $index 2) 1}}
        </tr>
        <tr>
          {{end}} {{end}}
        </tr>
        {{else}}
        <tr>
          <td colspan="2">No eggs available.</td>
        </tr>
        {{end}}
      </table>
    </div>
  </body>
</html>
