<!-- new_egg.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Egg</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!-- Link to the CSS file -->
  </head>
  <body>
    <div class="container">
      <h1>Add Egg</h1>
      <form method="POST">
        <label for="gecko">Gecko</label>
        <select id="gecko" name="gecko" required>
          {{range .AvailableGeckos}}
          <option value="{{.}}">Gecko {{.}}</option>
          {{end}}
        </select>

        <label for="incubator">Incubator</label>
        <select id="incubator" name="incubator" onchange="refreshEggLayout()">
          {{range .AvailableIncubators}}
          <option value="{{.ID}}" {{ if eq $.SelectedIncubator .ID }}selected="selected"{{ end }}>Incubator {{.ID}}</option>
          {{end}}
        </select>

        <label for="slotId">Incubator Slot</label>
        <input
          type="text"
          id="slotId"
          name="slotId"
          {{ if .Row }}
            value="{{.Row}},{{.Column}}"
          {{ else }}
            value=""
          {{ end }}
          required
          disabled
        />
  
        <script>
        function refreshEggLayout() {
          var val = document.getElementById("incubator").value;
          document.location.href='?incubator='+val
        }
        </script>

        {{ $incubator := (index .AvailableIncubators .SelectedIncubator) }}
        <div class="table-container">
          <table>
            {{ range $_, $row := N 1 $incubator.Rows }}
            <tr>
              {{ range $_, $column := N 1 $incubator.Columns }}
              <td class="egg-slot" data-details="">
                <span class="label"><a href="?incubator={{$incubator.ID}}&row={{$row}}&column={{$column}}">Egg Slot</a></span>
              </td>
              {{ end }}
            </tr>
            {{ end }}
          </table>
        </div>
        <br>

        <label for="eggCount">Number of Eggs</label>
        <input
          type="number"
          id="eggCount"
          name="eggCount"
          min="1"
          max="2"
          value="2"
          required
        />

        <label for="date">Date</label>
        <input type="date" id="date" name="date" value="{{ .TodaysDate }}" required />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
