<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gecko Egg Tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Egg</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!-- Link to the CSS file -->
  </head>
  <body>
    <div class="navbar-container">
      <nav class="navbar">
        <a href="newGecko" class="link">New Gecko</a>
        <a href="newIncubator" class="link">New Incubator</a>
        <a href="newEgg" class="link">New Egg</a>
        <a href="newSale" class="link">New Sale</a>
        <p></p>
        <b>Next Lay Date:</b> {{ .NextLayDate }}<br />
        <br />
        <b>Next Hatch Date:</b> {{ .NextHatchDate }}<br />
        <br />
        <b>Total Sales:</b> {{ .TotalSales }}<br />
        <br />
      </nav>
    </div>

    {{ range $_, $incubator := .Incubators }}
    <div class="table-container">
      <table>
        {{ $sortedEggs := sortEggsIntoGrid $.Eggs}}
        {{ range $_, $row := N 1 $incubator.Rows }}
        <tr>
          {{ range $_, $column := N 1 $incubator.Columns }}
            {{ $slotID := toSlotID $incubator.ID $row $column }}
            {{ $egg := (index $sortedEggs $slotID) }}
            {{ if ne $egg.Incubator.Column 0 }}
              <td class="egg-slot" data-details="
Gecko ID: {{ $egg.GeckoID }}
Lay Date: {{ $egg.FormattedLayDate }}
Hatch ETA: {{ $egg.FormattedHatchDateETA }}
              ">
              {{ if eq $egg.Count 1 }}
                <span class="label"><a href="hasHatched?eggId={{$egg.ID}}">1 Egg</a></span>
              {{ else }}
                <span class="label"><a href="hasHatched?eggId={{$egg.ID}}">{{ $egg.Count }} Eggs</a></span>
              {{ end }}
              </td>
            {{ else }}
              <td class="egg-slot" data-details="">
                <span class="label">No Egg</span>
              </td>
            {{ end }}
          {{ end }}
        </tr>
        {{ end }}
      </table>
    </div>
    {{ end }}

  </body>
</html>
